body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: salmon;
}

label {
    display: block;
    padding: 5px;
}

button {
    color: white;
    background: salmon;
    padding: 5px;
}